* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.light-mode {
  --color-primary: #fffdfd;
  --color-secondary: #df158e;
  --color-white: #dc7272;
  --color-black: #5f5e5e;
  --color-grey0: #999797;
  --color-grey-1: #105db5;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

body {
  background-color: var(--color-primary);
  font-family: "Encode Sans", sans-serif;
  font-size: 1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 10rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translate(0) scale(1);
}

.sec3 {
  display: none;
  transform: translate(0) scale(1);
}

.sec4 {
  display: none;
  transform: translate(0) scale(1);
}

.sec5 {
  display: none;
  transform: translate(0) scale(1);
}

.active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.active-btn i {
  color: var(--color-white) !important;
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.theme-btn {
  top: 5%;
  right: 3%;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-1px);
}
.theme-btn i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

/* Header Content */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%;
}
.header-content .left-header {
  display: flex;
  align-content: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 30% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 30% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 80%;
  width: 68%;
  margin-left: 4rem;
  margin-top: 4em;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 2rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  height: 7rem;
  width: 10rem;
  border: 0.6px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 1px 8px rgb(0, 0, 0);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .about-txt {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .about-txt .large-txt {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .about-txt .small-txt {
  padding-left: 1.8rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .about-txt .small-txt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  color: var(--color-grey-5);
}
.about-container .left-about {
  padding-right: 3rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  text-align: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-txt {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .C {
  width: 90%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .HTML {
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .DSA {
  width: 92%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .JavaScript {
  width: 72%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .Python {
  width: 82%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .CSS {
  width: 74%;
}

/* Title*/
.stat-title {
  padding: 2rem 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.stat-title::before {
  content: "";
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 2rem;
  border-left: 0.4px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -18px;
  top: 0;
  background-color: var(--color-secondary);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.1rem;
  padding: 8px;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11.8px;
}
.timeline .timeline-item h5 {
  font-size: 1rem;
  padding: 0.5rem 0;
  font-weight: 500;
}
.timeline .timeline-item h5 span {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
}
.timeline .timeline-item p {
  font-size: 0.8rem;
}

.port-txt {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}
.portfolios .port-items {
  position: relative;
}
.portfolios .port-items img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.portfolios .port-items .hover-item {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .port-items .hover-item h3 {
  font-size: 1.2rem;
  color: var(--color-white);
  margin-bottom: 1.2rem;
}
.portfolios .port-items .hover-item .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .port-items .hover-item .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.4rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .port-items .hover-item .icons .icon i {
  font-size: 1.2rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .port-items .hover-item .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .port-items .hover-item .icons .icon:hover i {
  color: var(--color-primary);
}

.port-items:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}

/* Blogs*/
.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}
.blogs-container .blog-cont {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.blogs-container .blog-cont:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.blogs-container .blog-cont:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8);
}
.blogs-container .blog-cont img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  translate: all 0.4s ease-in-out;
}
.blogs-container .blog-cont .blog-txt {
  padding: 1.1rem;
  margin-top: -7px;
  border-top: 8px solid var(--color-secondary);
}

/*Contact*/
.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-con {
  flex: 2;
}
.contact-content-con .left-con h4 {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.contact-content-con .left-con p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-con .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-con .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-con .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-con .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.contact-content-con .left-con .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-con .contact-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-grey-5);
  color: var(--color-white);
  margin: 0 0.4rem;
}
.contact-content-con .left-con .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-con .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-con .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.contact-content-con .right-con {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-con .input-control {
  margin: 1.2rem 0;
}
.contact-content-con .right-con .input-control input,
.contact-content-con .right-con .input-control textarea {
  border-radius: 30px;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 0.6rem 1.3rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-con .i-c-2 {
  display: flex;
}
.contact-content-con .right-con .i-c-2 :last-child {
  margin-left: 1.3rem;
}
.contact-content-con .right-con .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content-con .right-con .submit-btn .btn {
  width: 76px;
  color: var(--color-secondary);
  background-color: var(--color-grey-5);
  border: 1px solid var(--color-grey-5);
  border-radius: 40px;
  padding: 0.3rem 0.4rem;
  text-align: center;
}
.contact-content-con .right-con .submit-btn .btn:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .right-con .submit-btn .btn:hover .btn-text {
  color: var(--color-white);
}

/* independent component*/
.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-txt {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 4.3rem;
  font-weight: 800;
}

@media screen and (max-width: 630px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 40px;
    height: 40px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 1rem 1.3rem;
    width: 90;
    height: 100%;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .right-about .about-item {
    width: 20rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .section {
    padding: 1rem 2.5rem !important;
  }
  .progress-bars {
    grid-template-columns: 1fr !important;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios {
    grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }
  .blogs-container {
    grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 0.5rem 0.3rem;
    width: 40px;
    height: 40px;
  }
  .main-title h2 {
    font-size: 1.5rem;
  }
  .main-title h2 span {
    font-size: 2rem;
  }
  .main-title h2 .bg-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 900px) {
  .contact-content-con {
    flex-direction: column;
    margin-bottom: 6rem;
  }
  .contact-content-con .right-con {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-con .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-con .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.3rem;
  }
}
@media screen and (max-width: 900px) {
  .blogs-container {
    grid-template-columns: 1fr 1fr;
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 0.5rem 0.3rem;
    width: 40px;
    height: 40px;
  }
  header {
    padding: 0;
  }
  header .right-header {
    padding: 3rem 4rem !important;
  }
  .theme-btn {
    width: 40px;
    height: 40px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 0rem 7rem;
    width: 90;
    height: 100%;
  }
}
@media screen and (max-width: 700px) {
  .blogs-container {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 800px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .right-about .about-item {
    width: 20rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
}/*# sourceMappingURL=style.css.map */